SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
SOROBAN_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
SQIM_CONTRACT_IDS=CD4WD6PVISQ6T6PXZ2L4RAWBI3ZVOGNZRYO7RIHOL5XUIF6QOBD26EVM,CD7XI7DSE7YNBWI224SUWAF4DWY5DOMLTQZZKF4SOWSLCQC7UB6STUHW,CAWV5OPADYFZQFA7YCWKKWX3BWFWJAKESTQHEMTGDPXZV7X36CKFFVO4,CAK6F4PFOS2LU2FWPVGHI6AALYWBEHIHQBSF7XM2JQJRBAIU3QDSTD4L,CAUPYKDDPXL4NGRPYKHYIDND74FCMXEBGG2DW2BJLCO7LR7O3MEDZ22E
INDEXER_START_LEDGER=3667948
RELAYER_DRY_RUN=true
RELAYER_REBALANCER_QUORUM=2
RELAYER_REBALANCER_SIGNERS=
RELAYER_CALLER_ADDRESS=
RELAYER_SIGN_WITH_KEY=
