VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_SQIM_API_URL=http://localhost:8081
VITE_SQIM_FACTORY_ID=CD4WD6PVISQ6T6PXZ2L4RAWBI3ZVOGNZRYO7RIHOL5XUIF6QOBD26EVM
VITE_SQIM_ACTIVE_BASKET_ID=CD7XI7DSE7YNBWI224SUWAF4DWY5DOMLTQZZKF4SOWSLCQC7UB6STUHW
VITE_SQIM_ACTIVE_BASKET_TOKEN_ID=CAWV5OPADYFZQFA7YCWKKWX3BWFWJAKESTQHEMTGDPXZV7X36CKFFVO4
VITE_SQIM_SETTLEMENT_ID=CAK6F4PFOS2LU2FWPVGHI6AALYWBEHIHQBSF7XM2JQJRBAIU3QDSTD4L
VITE_SQIM_ORACLE_ID=CAUPYKDDPXL4NGRPYKHYIDND74FCMXEBGG2DW2BJLCO7LR7O3MEDZ22E
VITE_SQIM_SIMULATION_ACCOUNT=GCUGFOJ6ED5WBLD2Y6LX2JKPYTG3NQMRWO5XB2UJPCY3XCDVGHAHUPXW
